
<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>chessboardjs Example #5001 - Play Random Computer</title>
  <base href="../" />
  <link rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css" integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU" crossorigin="anonymous">
</head>
<body>

<div id="myBoard" style="width: 400px"></div>

<script src="js/jquery.min.js"></script>
<script src="js/chessboard.min.js"></script>
<script src="js/chess.js"></script>
<script src="js/gamefuncs.js"></script>

<script>
board = Chessboard('myBoard', config)
</script>
</body>
</html>
